{% extends "/template.twig" %}
{% block content %}
<div class="container" data-pageid="tasks">
{% if isAdmin %}
  <a href="/task/store" type="button" class="btn btn-primary mt-1 mb-1">Создать задачу</a>
  <a href="/stage/store" type="button" class="btn btn-primary mt-1 mb-1">Создать колонку стадии</a>
{% endif %}

{% include 'partials/alert.twig' with {'message':message} %}

<div class="container">
  <div id="stagesArea" class="row align-items-start" >
  {% for stage in stages %}
    <div data-blockname="stages" id="{{stage.id}}" class="col h-100 min-vh-100 ui-state-default">
    <h2>{{ stage.name }}</h2>
      {% for key, task in tasks %}
        {% if task.stage_id == stage.id %}
          {{ _self.createCard(task) }}
        {% endif %}
      {% endfor %}
    </div>

      {% endfor %}
  </div>

</div>
</div>


{% macro createCard(task) %}
    <div class="card mt-2" style="width: 19rem;" data-cardid="{{task.id}}">
      <div class="card-body">
        <h5 class="card-title">{{task.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карты</h6>
        <p class="card-text">{{task.description}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
{% endmacro %}



{% endblock %}

